.hover {
    transition: background-color 0.3s ease;
    border-radius: 30px;
}

.hover:hover {
    background-color: var(--VideoItems-background); /* Adjust the color and opacity as needed */
    cursor: pointer;
}

.btn-light {
    border-radius: 50px;
    background-color: #f8f9fa; /* Corrected variable usage */
    border-color: #f8f9fa;
    color: #000;
}

.btn-light:hover {
    background-color: #d3d4d5;
    border-color: #c6c7c8;
    color: #000;
}

.btn-light:focus {
    box-shadow: 0 0 0 0.2rem rgba(211, 212, 213, 0.25); /* Corrected focus shadow */
}

.btn-light:active {
    background-color: #c6c7c8;
    border-color: #babbbc;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-light:disabled {
    background-color: #f8f9fa;
    color: #000;
    border-color: #c0c3c6;
}

.comment-section {
    max-width: 100%; 
    background: var(--bs-comment-section);
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 10px;
}

.comment {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    }

.comment-text {
    background: #f0f0f0;
    border-radius: 8px;
    padding: 8px;
    font-size: 14px;
    color: #333;
}

.comment-text-input {
    background: var(--bs-comment-text-inputbox);
    border-radius: 8px;
    padding: 8px;
    font-size: 14px;
    color: #333;
}



.cardV {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Full width of the parent container */
    max-width: 800px; /* Maximum width */
    margin: auto; /* Center the card horizontally */
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    border-radius: 10px; /* Rounded corners */
    background: var(--bs-cardview); /* Card background */
}

.card-img-top {
    width: 100%; /* Full width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 30px; /* Rounded corners for video */
}

.card-body {
    width: 100%; /* Full width */
}

