.searchinput {
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
}

.searchinput::placeholder{
    color: #64728F;
}

.search {
    background-color: #e6e3e3;
    width: max-content;
    display: flex;
    align-items: center;
    padding: 2px;
    border-radius: 60px;
    width: 700px;
    transition: 0.25s;
}

.search:focus-within{
    background: #f1f1f1;
}

.search-form {
    display: flex;
    align-items: center;
  }

.iconleftli{
    float: left;
}

.nav-item {
    margin: 5px 0; /* Add some margin for better spacing */
    border-radius: 30px; /* More roundness on hover */

}

.nav-item a {
    display: block;
    padding: 10px 15px;
    border-radius: 30px; /* Adjust the radius as needed */
    transition: background-color 0.3s ease;
}

.nav-item a:hover {
    background-color: #e3e1e1; /* Adjust the hover color as needed */
    cursor: pointer;
    border-radius: 30px; /* More roundness on hover */
}

.navbar-brand img {
    margin-right: 80px; /* Adjust space between the image and any following content */
}


.navbar-brand {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: flex-start; /* Align items to the left */
}
