.profile {
    border-radius: 50%;
    width: 65px;
    height: 65px;
    float: left;
    object-fit: cover;
    margin-right: 10px;
    }

.thumbnail-container {
    position: relative;
    display: inline-block;
}

.card-img-top {
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 30px;
}

#img-top {
    width: 100%; /* להתאמה לרוחב ההורה */
    height: auto; /* להתאמה לגובה אוטומטי */
}

.square {
    position: absolute;
    bottom: 15px;
    right: 20px;
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 12px;
    border-radius: 2px;
    
}


.title {
    float: inline-start;
    margin-left: 10px;

}

.p {
    display: table-header-group;
}

.box {
    float: inline-start;
}