.margin{
    margin: 10px;
}

.formerror{
    color: red;
}

input {
    z-index: 1000;  /* ודאי שאין שום אלמנט שמכסה את השדה */
    pointer-events: auto;  /* ודאי שהשדות אינם נעולים */
  }