.custom-margin {
    margin: 10px; 
  }


.widthb{
  width: 700px;
}

.mx-auto{
margin: 0%;
}

.color{
  --bs-btn-color: #748bb9;
  --bs-btn-bg:  #f0f0f0;
  --bs-btn-border-color: #f0f0f0;
    --bs-btn-hover-color:  #748bb9;
    --bs-btn-hover-bg:#d3d4d5;
    --bs-btn-hover-border-color:  #d3d4d5;
}