#Login .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: hsl(0, 96%, 51%);
    --bs-btn-border-color: hsl(0, 96%, 51%);
    --bs-btn-hover-bg: hsl(0deg 81.82% 46.34% / 98%);
    --bs-btn-hover-border-color: hsl(0, 96%, 51%);
}

.custom-card-width {
    width: 40rem;
    } 


